{{#each this}}
  <li class='card'>
    <div class='card__tumb'>
      <img id='{{id}}' src={{poster_path}} alt='{{title}}' class='card__image' />
    </div>
    <h2 class='card__title'>{{original_title}}</h2>
    <div class='card__caption'>
      <ul class='card__items'>
        {{#each genre_ids}}
          <li class='card__item'>{{this}}</li>
        {{/each}}
      </ul>
      <span class='card__year'>{{release_date}}</span>
      <span class='card__rating'>{{vote_average}}</span>
    </div>
  </li>
{{/each}}