{{#each this}}
<li class="card-gallery" data-id={{id}}>
  <div class="spinner spinner--small"></div>    
  <div class="card-gallery__poster">
    {{#if this.poster_path}}
      <img src='https://image.tmdb.org/t/p/w300/{{poster_path}}' alt='{{original_title}}' class="card-gallery__image" />
    {{else}}
      <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/256px-No-Image-Placeholder.svg.png' width="100%" height="100%" alt='' class="card-gallery__image--none" />
    {{/if}}    
  </div>
  <div>
    <p class="card-gallery__title">
      {{title}}
    </p>
    <div class="card-gallery__descr">
      <p class="card-gallery__genres-release">
        <span>{{genre}}</span> | <span>{{release}}</span>
      </p>
      <p class="card-gallery__rate">
        {{vote_average}}
      </p>
    </div>
  </div>

</li>
{{/each}}